html {
    background-color: #333399;
}


.mainheader {
    text-align: center; 
    background-color: aquamarine;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px auto; 
}

p,
li{
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size: x-large;
}

.recipes {
    display: block;
    margin: auto;
}